header {
    height: auto;
    position: absolute;
    width: 100%;
    z-index: 99;
    background-color: transparent;
}

.main_header_area, .rtl_version .main_header_area {
    border-bottom: 2px solid #fff;
}

.main_header_area {
    height: 90px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

.main_menu_area {
    float: right;
    position: relative;
    z-index: 1;
}

.mainmenu {
    display: inline-block;
    text-align: right;
}

.header-logo {
	height: 30px;
	width: 210px;
}